@use './pages/landing-page';
@use './pages/text-page';

@use './layouts/main-layouts';
@use './layouts/footer';

@use './colors/colors.scss' as colors;

@font-face {
    font-family: 'Now';
    src: local('Now'), url(./fonts/Now-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Genty';
    src: local('Genty'), url(./fonts/GentyDemo-Regular.otf) format('opentype');
}

html,
body {
    padding: 0;
    margin: 0;

    body {
        background-color: colors.$main-blue;
        color: white;
        font-family: 'Now';
    }

    h1,
    h2,
    h2 {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
        display: block;
    }
}