@use '../colors/colors' as colors;

#landing-page-container {
    background-color: colors.$main-yellow;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1,
    h2,
    h3 {
        text-align: center;
    }

    h1 {
        font-size: 2.2rem;

        @media only screen and (max-width: 600px) {
            font-size: 1.4rem;
        }
    }

    h2 {
        font-size: 2rem;

        @media only screen and (max-width: 600px) {
            font-size: 1.6rem;
        }
    }

    .intro-container {
        padding: 3rem;
        text-align: center;

        a.emphasis {
            font-size: 1.8rem;
            font-weight: bold;
            text-decoration: none;
            color: white;
            background-color: colors.$main-blue;
            margin: 3rem auto 0;
            padding: 1rem;
            border-radius: 10px;
            display: block;
            width: 30%;

            @media only screen and (max-width: 600px) {
                font-size: 1.2rem;
                margin-top: 1rem;
            }

            &:hover {
                box-shadow: 2px 2px 3px 2px rgb(120, 120, 120);
            }
        }

        @media only screen and (max-width: 600px) {
            padding: 2rem 1rem;
        }
    }

    .section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &#videos-section-container {
            background-color: colors.$main-orange;
            position: relative;
            margin-top: 7rem;
            padding-bottom: 10rem;

            #videos-items-container {
                display: block;
                z-index: 2;

                // grid-template-columns: repeat(2, max-content);
                // grid-column-gap: 5rem;
                // z-index: 2;

                // @media only screen and (max-width: 600px) {
                //     display: flex;
                //     flex-direction: column;
                // }

                video {
                    width: 40rem;
                    height: auto;

                    @media only screen and (max-width: 600px) {
                        width: auto;
                        height: 80vw;
                    }
                }
            }

            p {
                font-size: 2rem;
                color: white;
            }

            .ellipse {
                height: 15rem;
                width: 100%;
                position: absolute;
                z-index: 1;

                &#videos-section-container-top-ellipse {
                    background-color: colors.$main-orange;
                    border-radius: 100% 100% 0 0;
                    top: -7rem;
                }

                &#videos-section-container-bottom-ellipse {
                    background-color: colors.$main-yellow;
                    border-radius: 100% 100% 0 0;
                    bottom: -7rem;
                }
            }

            .store-badges-container {
                display: grid;
                grid-template-columns: repeat(2, max-content);
                grid-column-gap: 2rem;

                .single-store-badge {
                    img {
                        width: auto;
                        height: 5rem;

                        @media only screen and (max-width: 600px) {
                            height: 3rem;
                        }
                    }
                }
            }
        }

        &#blog-section-container {
            background-color: colors.$main-yellow;
            z-index: 2;
            padding: 0 0 2rem 0;

            p {
                font-size: 1.8rem;

                @media only screen and (max-width: 600px) {
                    font-size: 1.4rem;
                    text-align: center;
                }
            }

            #blog-items-container {
                display: grid;
                grid-template-columns: repeat(3, max-content);
                grid-column-gap: 2rem;

                @media only screen and (max-width: 600px) {
                    display: flex;
                    flex-direction: column;
                }

                .blog-item {
                    h3 {
                        font-size: 1.6rem;

                        @media only screen and (max-width: 600px) {
                            font-size: 1.2rem;
                        }
                    }

                    img {
                        height: 20rem;
                        width: 30rem;
                        object-fit: cover;
                        object-position: center;
                        border: solid 3px colors.$main-blue;

                        @media only screen and (max-width: 600px) {
                            width: 80vw;
                        }
                    }
                }
            }
        }
    }

}