@use '../colors/colors' as colors;

#landing-page-container {
    background-color: colors.$main-yellow;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1,
    h2,
    h3 {
        text-align: center;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    .intro-container {
        padding: 3rem;
        text-align: center;

        a.emphasis {
            text-decoration: none;
            font-size: 2rem;
            color: black;
            font-weight: bold;
            margin-top: 3rem;
            display: block;
        }
    }

    .section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &#videos-section-container {
            background-color: colors.$main-orange;
            position: relative;
            margin-top: 7rem;
            padding-bottom: 10rem;

            #videos-items-container {
                display: grid;
                grid-template-columns: repeat(2, max-content);
                grid-column-gap: 5rem;
                z-index: 2;

                video {
                    width: 30rem;
                    height: auto;
                }
            }

            p {
                font-size: 2rem;
                color: white;
            }

            .ellipse {
                height: 15rem;
                width: 100%;
                position: absolute;
                z-index: 1;

                &#videos-section-container-top-ellipse {
                    background-color: colors.$main-orange;
                    border-radius: 100% 100% 0 0;
                    top: -7rem;
                }

                &#videos-section-container-bottom-ellipse {
                    background-color: colors.$main-yellow;
                    border-radius: 100% 100% 0 0;
                    bottom: -7rem;
                }
            }
        }

        &#blog-section-container {
            background-color: colors.$main-yellow;
            z-index: 2;
            padding: 0 0 2rem 0;

            p {
                font-size: 1.8rem;
            }

            #blog-items-container {
                display: flex;
                flex-direction: grid;
                grid-template-columns: repeat(3, max-content);
                grid-column-gap: 2rem;            

                .blog-item {
                    h3 {
                        font-size: 1.6rem;
                    }

                    img {
                        height: 20rem;
                        width: 30rem;
                        object-fit: cover;
                        object-position: center;
                        border: solid 3px colors.$main-blue;
                    }
                }
            }
        }
    }

}