@use '../colors/colors' as colors;

#landing-page-container {
    background-color: colors.$main-yellow;
    background: linear-gradient(to right, colors.$main-yellow, #efef00, colors.$main-yellow);
    box-shadow: 0px 2px 10px 1px #646464;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1,
    h2,
    h3 {
        text-align: center;
    }

    h1 {
        font-size: 2.3rem;
        font-weight: 600;

        @media only screen and (max-width: 600px) {
            font-size: 1.4rem;
        }
    }

    h2 {
        font-size: 2rem;

        @media only screen and (max-width: 600px) {
            font-size: 1.6rem;
        }
    }

    .intro-container {
        padding: 5rem;
        text-align: center;

        a.emphasis {
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
            color: white;
            background-color: colors.$main-blue;
            margin: 4rem auto 0;
            padding: 1rem;
            border-radius: 10px;
            display: block;
            width: 30%;
            box-shadow: 2px 2px 1px 2px rgb(120, 120, 120);
            transition: border-radius .4s;

            @media only screen and (max-width: 600px) {
                font-size: 1.2rem;
                margin-top: 1rem;
            }

            &:hover {
                color: colors.$main-yellow;
                border-radius: 0;
            }
        }

        @media only screen and (max-width: 600px) {
            padding: 2rem 1rem;
        }
    }

    .section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &#videos-section-container {
            background-color: colors.$main-orange;
            background: linear-gradient(to right, colors.$main-orange, #f4cc33, colors.$main-orange);
            position: relative;
            margin-top: 7rem;
            padding-bottom: 10rem;

            #videos-items-container {
                display: block;
                z-index: 2;

                video {
                    width: 40rem;
                    height: auto;
                    border-radius: 15px;
                    box-shadow: 0px 2px 5px 1px #747474;

                    @media only screen and (max-width: 600px) {
                        width: auto;
                        height: 80vw;
                    }
                }
            }

            p {
                font-size: 2rem;
                color: white;
            }

            .ellipse {
                height: 15rem;
                width: 100%;
                position: absolute;
                z-index: 1;

                &#videos-section-container-top-ellipse {
                    background-color: colors.$main-orange;
                    background: linear-gradient(to right, colors.$main-orange, #f4cc33, colors.$main-orange);
                    border-radius: 100% 100% 0 0;
                    top: -7rem;
                    box-shadow: 0px -3px 5px 1px rgb(229 214 0);
                }

                &#videos-section-container-bottom-ellipse {
                    background-color: colors.$main-yellow;
                    background: linear-gradient(to right, colors.$main-yellow, #efef00, colors.$main-yellow);
                    border-radius: 100% 100% 0 0;
                    bottom: -7rem;
                    box-shadow: 0px -3px 5px 1px #f29900;
                }
            }

            .store-badges-container {
                display: grid;
                grid-template-columns: repeat(2, max-content);
                margin: 2rem 0;

                .single-store-badge {
                    img {
                        width: auto;
                        height: 5rem;
                        border-radius: 14px;

                        @media only screen and (max-width: 600px) {
                            height: 3rem;
                        }

                        &:hover {
                            box-shadow: 0px 0px 0px 5px colors.$main-yellow;
                        }
                    }
                }
            }
        }

        &#blog-section-container {
            background-color: colors.$main-yellow;
            background: linear-gradient(to right, colors.$main-yellow, #efef00, colors.$main-yellow);
            z-index: 2;
            padding: 0 0 5rem 0;

            p {
                font-size: 2rem;
                font-weight: 600;

                @media only screen and (max-width: 600px) {
                    font-size: 1.4rem;
                    text-align: center;
                }
            }

            #blog-items-container {
                display: grid;
                grid-template-columns: repeat(3, max-content);
                grid-column-gap: 2rem;

                @media only screen and (max-width: 600px) {
                    display: flex;
                    flex-direction: column;
                }

                .blog-item {
                    h3 {
                        font-size: 1.6rem;

                        @media only screen and (max-width: 600px) {
                            font-size: 1.2rem;
                        }
                    }

                    img {
                        height: 20rem;
                        width: 30rem;
                        object-fit: cover;
                        object-position: center;
                        border: solid 5px colors.$main-blue;
                        border-radius: 10px;

                        &:hover {
                            border-color: colors.$main-orange;
                        }

                        @media only screen and (max-width: 600px) {
                            width: 80vw;
                        }
                    }
                }
            }
        }
    }

}