@use '../colors/colors' as colors;

.text-page-container {
    background-color: colors.$text-yellow;
    color: black;
    padding: 5rem 10rem;

    @media only screen and (max-width: 600px) {
        padding: 2rem;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
    }

    p {
        font-size: 1.6rem;

        @media only screen and (max-width: 600px) {
            font-size: 1.4rem;
        }
    }

    .align-right {
        text-align: right;
    }

    .img-container {
        width: 100%;
        text-align: center;

        img {
            object-fit: cover;
            height: 15rem;
            margin-top: 2rem;

            @media only screen and (max-width: 600px) {
                width: 80vw;
            }
        }
    }
}