footer {
    padding: 7rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 600px) {
        padding: 2rem;
        flex-direction: column;
        align-items: normal;
    }

    h2 {
        font-size: 1.8rem;

        @media only screen and (max-width: 600px) {
            font-size: 1.2rem;
        }
    }

    p {
        font-size: 1.2rem;

        @media only screen and (max-width: 600px) {
            font-size: 1rem;
        }
    }

    #right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media only screen and (max-width: 600px) {
            align-items: flex-start;
            margin-top: 2rem;
        }
    }

    .social-media-list a:last-child {
        padding-right: 0 !important;
    }

    .store-badges-container {
        text-align: center;

        @media only screen and (max-width: 600px) {
            text-align: left;
        }

        img.footer-sheep-icon {
            height: 8rem;
            border-radius: 15px;
        }
    }
}