@use '../colors/colors.scss';

footer {
    padding: 7rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 600px) {
        padding: 2rem;
        flex-direction: column;
        align-items: normal;
    }

    h2 {
        font-size: 1.8rem;

        @media only screen and (max-width: 600px) {
            font-size: 1.2rem;
        }
    }

    p {
        font-size: 1.2rem;

        @media only screen and (max-width: 600px) {
            font-size: 1rem;
        }
    }

    // middle
    #middle {
        text-align: center;

        img.footer-sheep-icon {
            height: 8rem;
            border-radius: 15px;
        }

        .social-media-list a:last-child {
            padding-right: 0 !important;
        }

        .store-badges-container {
            display: grid;
            grid-template-columns: repeat(2, max-content);
            grid-column-gap: .5rem;
            margin: 2rem 0;

            .single-store-badge img {
                width: auto;
                height: 3rem;
                border-radius: 14px;

                @media only screen and (max-width: 600px) {
                    height: 3rem;
                }

                &:hover {
                    box-shadow: 0px 0px 0px 2px colors.$main-yellow;
                }
            }
        }
    }

    // right
    #right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media only screen and (max-width: 600px) {
            align-items: flex-start;
            margin-top: 2rem;
        }
    }
}