#main-layout-container {
    #header-banner {
        background-image: url(/assets/images/main_header_banner.png);
        background-position: center center;
        background-size: 110% auto;
        background-repeat: no-repeat;
        height: 35rem;

        @media only screen and (max-width: 600px) {
            height: 10rem;
            width: 100%;
        }
    }

    .social-media-list {
        display: flex;
        flex-direction: row;

        a {
            font-size: 2.5rem;
            display: block;
            padding: 0 .5rem;
        }
    }
}