#main-layout-container {
    #header-banner {
        background-image: url(/public/assets/images/main_header_banner.png);
        background-position: center center;
        background-size: 110% auto;
        height: 41rem;
    }
}